# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized

Data science languages :  
1. python.
2. R.
3. SQL.
4. Java.
5. Julia.

Commonly used libraries by data scientists : 
1. pandas.
2. NumPy.
3. scikit-learn.
4. Tensorflow.
5. matplotlib.

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|spyder|
|Anaconda Navigator|
|VS|

Arithmetic expression introduction

In [4]:
z = (3*4)+5
eval('z')

17

In [5]:
TimeInMinutes = input('Enter time in minutes : ')
print('Time in hours = ')
print(int(TimeInMinutes)/60)
print('h')

Enter time in minutes : 120
Time in hours =
2.0
h

Objectives :
1. List commonly used languages for Data Science.
2. Discuss commonly used libraries in Data Science.
3. Show tools used in the Data Science and ecosystem.
4. Provide examples of arithmetic expressions in Python.

Author :
 Rahma Mubarak.